{% extends 'accounts/register_base.html' %}
{% load static %}
{% block title %}
Новий пароль
{% endblock %}

{% block content_area %}
<form class="form-login" method="post">
    {% csrf_token %}
    <p class="title-for-account"> Створіть новий пароль</p>
    <div class="form-area">
        <p class="data-name">Новий пароль</p>
        {{ form.new_password }}
        {% if form.errors.new_password %}
        <p class="error-message">{{ form.errors.new_password }}</p>
        {% endif %}
    </div>
    <div class="form-area">
        <p class="data-name">Новий пароль повторно</p>
        {{ form.confirm_new_password }}
        {% if form.errors.confirm_new_password %}
        <p class="error-message">{{ form.errors.confirm_new_password }}</p>
        {% endif %}
    </div>
    <button class="account-button" type="submit">Змінити</button>
</form>

{% endblock %}
