{% extends 'accounts/register_base.html' %}
{% load static %}
{% block title %}
Реєстрація
{% endblock %}

{% block content_area %}
<form class="form-login" method="post">
    {% csrf_token %}
    <div class="form-area register-area">
        <p class="data-name">Ім'я</p>
        {{ form.username }}
        {% if form.errors.username %}
        <p class="error-message">{{ form.errors.username }}</p>
        {% endif %}
    </div>
    <div class="form-area register-area">
        <p class="data-name">Пошта</p>
        {{ form.email }}
        {% if form.errors.email %}
        <p class="error-message">{{ form.errors.email }}</p>
        {% endif %}
    </div>
    <div class="form-area register-area">
        <p class="data-name">Пароль</p>
        {{ form.password1 }}
        {% if form.errors.password1 %}
        <p class="error-message">{{ form.errors.password1 }}</p>
        {% endif %}
    </div>
    <div class="form-area register-area">
        <p class="data-name">Повторіть пароль</p>
        {{ form.password2 }}
        {% if form.errors.password2 %}
        <p class="error-message">{{ form.errors.password2 }}</p>
        {% endif %}
    </div>
    <div class="other-options">
        <a class="login__link" href="{% url 'accounts:login' %}">Вже маю акаунт</a>
        <a class="login__link" href="{% url 'accounts:email' %}">Забули пароль?</a>
    </div>
    {% if form.errors and form.non_field_errors %}
    <p>{{form.non_field_errors}}</p>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <button class="account-button register-button" type="submit">Зареєструватися</button>
</form>

{% endblock %}
