<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>OceanDo</title>
</head>

<body>
    <div class="wrapper">
        <div class="login-page">
            <div class="login__form">
                <div class="login__content">
                    <div class="data-form register-data">
                        <div class="login__logo">
                            <img class="logo-img" src="img\logo-removebg.png" alt="No image">
                            <p class="logo-name">OceanDo</p>
                        </div>
                        <form class="form-login" method="get">
                            <div class="form-area register-area">
                                <p class="data-name">Ім'я</p>
                                <input class="data-input" type="text" placeholder="Ім'я">
                            </div>
                            <div class="form-area register-area">
                                <p class="data-name">Логін</p>
                                <input class="data-input" type="email" placeholder="Пошта">
                            </div>
                            <div class="form-area register-area">
                                <p class="data-name">Пароль</p>
                                <input class="data-input" type="password" placeholder="Пароль">
                            </div>
                            <div class="form-area register-area">
                                <p class="data-name">Повторний пароль</p>
                                <input class="data-input" type="password" placeholder="Повторний пароль">
                            </div>
                            <div class="other-options">
                                <a class="login__link" href="#">Зареєструватися</a>
                                <a class="login__link" href="#">Забули пароль?</a>
                            </div>
                        </form>
                        <a class="account-button register-button" href="#">Реєстрація</a>
                    </div>
                    <div class="info-form">
                        <div class="bg-picture">
                        </div>
                        <div class="text-container">
                            <h2 class="invite-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
                            <p class="invite-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus quis
                                ornare sem.
                                Curabitur finibus nisl a tincidunt
                                finibus. Sed diam quam, cursus id hendrerit a, luctus et tortor. Aenean porttitor nisl
                                sit amet ligula faucibus porta.
                                Etiam fermentum ante ut ligula consequat lobortis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>