{% extends 'ocean_do/base.html' %}
{% load static %}
{% block title %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        OceanDo
    {% endif %}
{% endblock %}

{% block content %}
    <body>
        <div class="wrapper">
            <div class="login-page">
                <div class="login__form">
                    <div class="login__content">
                        <div class="data-form">
                            <div class="login__logo">
                                <img class="logo-img" src="{% static 'img/logo/logo-removebg.png' %}" alt="No image">
                                <p class="logo-name">OceanDo</p>
                            </div>
                            {% block content_area %}
                            {% endblock %}
                        </div>
                        <div class="info-form">
                            <div class="bg-picture">
                            </div>
                            <div class="text-container">
                                <h2 class="invite-text">Вітаємо у OceanDo! Дякуємо за те, що обираєте нас! </h2>
                                <p class="invite-paragraph">OceanDo це веб-додаток для моніторингу виконання завдань
                                    із різними рівнями ієрархії. Отримуйте завдання, виконуйте, передавайте його іншим
                                    людям та слідкуйте за виконанням.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
