{% extends 'ocean_do/pages_base.html' %}
{% load static %}

{% block title %}
Редагування завдання
{% endblock %}

{% block side-menu %}
{% include 'tasks/partials/task-side-menu.html' %}
{% endblock %}

{% block content_area %}

<!-- MAIN -->
<main>
    <div class="task-popup">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Редагування завдання</h2>

            <div class="form-element">
                <div class="important-area">
                    <p class="title">Завдання "{{ task.title }}"</p>
                </div>
                {% if form.title.errors %}
                <span>{{ form.title.errors }}</span>
                {% endif %}
            </div>
            <div class="form-element">
                <div class="existing-folder">
                    <p class="title">Папка</p>
                    <input type="text" name="folders" placeholder="Введіть назву папки">
                    <div class="add" id="add-folder-input">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>
                </div>
                <div id="folder-inputs">
                </div>
            </div>
            <div class="form-element">
                <div class="tag-block">
                    <p class="title">Теги</p>
                    <div class="add" id="add-tag-input">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>

                </div>
                <div id="tag-inputs">
                    <!-- Поле для першого тегу -->
                    <input id="first-tag" type="text" name="tags" placeholder="Введіть тег">
                </div>
            </div>

            <button type="submit" class="make-task">Створити</button>
        </form>
    </div>

</main>
<!-- MAIN -->

<script>

</script>
{% endblock %}