{% extends 'ocean_do/pages_base.html' %}
{% load static %}
{% block title %}
Завдання
{% endblock %}


{% block side-menu %}
<li><a href="{% url 'main' %}"><i class='bx bx-home-alt icon'></i> Головна</a></li>
<li><a href="#"><i class='bx bx-calendar icon'></i> Календар</a></li>
<li><a href="{% url 'tasks:all_tasks' %}" class="active"><i class='bx bx-task icon'></i> Завдання</a></li>
{% endblock %}

{% block content_area %}

<!-- MAIN -->
<main>
    <div class="task-popup">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Нове завдання</h2>

            <div class="form-element">
                <div class="important-area">
                    <p class="title">Назва </p>
                    <p class="star">*</p>
                </div>
                {{ form.title }}
                {% if form.title.errors %}
                <span>{{ form.title.errors }}</span>
                {% endif %}
            </div>
            <div class="form-element">
                <p class="title">Опис</p>
                {{ form.description }}
            </div>
            <div class="form-element">
                <div class="tag-block">
                    <p class="title">Прикріпити файл</p>
                    <div class="add" id="add-file-input">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>
                </div>
                <div id="file-inputs">
<!--                <label for="file-upload" class="custom-file-upload">Завантажити</label>-->
<!--                <input id="file-upload" type="file" name="files" onchange="displayFileName()" style="display: none;"/>-->
<!--                <span id="file-name"></span>-->
                </div>
            </div>
            <div class="form-element">
                <div class="existing-folder">
                    <p class="title">Папка</p>
                    <input type="text" placeholder="Введіть назву папки">
                    <i class='bx bx-plus-circle icon'></i>
                </div>
                <div class="new-folder">
                    <div class="add">
                        <i class='bx bx-folder folder-icon'></i>
                    </div>
                    <input type="text" placeholder="Введіть назву нової папки">
                </div>
            </div>
            <div class="form-element">
                <div class="tag-block">
                    <p class="title">Теги</p>
                    <div class="add" id="add-tag-input">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>
                </div>
                <div id="tag-inputs">
                    <!-- Поле для першого тегу -->
                    <input id="first-tag" type="text" name="tags" placeholder="Введіть тег">
                </div>
            </div>
            <div class="form-element">
                <div class="important-area">
                    <p class="title">Термін виконання </p>
                    <p class="star">*</p>
                </div>
                {{ form.deadline }}
                {% if form.deadline.errors %}
                <span>{{ form.deadline.errors }}</span>
                {% endif %}
            </div>
            <div class="form-element">
                <div class="users-add-block">
                    <div class="important-area">
                        <p class="title">Виконавці</p>
                        <p class="star">*</p>
                    </div>
                    <div class="add">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>
                </div>
                <div class="users-search">
                    <div class="form-group">
                        <i class='bx bx-search icon'></i>
                        <input id="users-search-bar" type="text" placeholder="Пошук виконавців...">
                        <input type="hidden" id="chosen-user-block">
                    </div>
<!--                    <div class="chosen-user">-->
<!--                        <p id="chosen-user-email"></p>-->
<!--                        <i id="minus-user" class='bx icon'></i>-->
<!--                    </div>-->
                </div>
<!--                {{ form.assignees }}-->
<!--                {% if form.assignees.errors %}-->
<!--                <span>{{ form.assignees.errors }}</span>-->
<!--                {% endif %}-->
            </div>
            <button type="submit" class="make-task">Створити</button>
        </form>
    </div>

</main>
<!-- MAIN -->

<script>
    // SEARCH USERS AUTO-COMPLETE
    $( function() {
        var selectedItems = [];
        $( "#users-search-bar" ).autocomplete({
            source: "{% url 'tasks:get_users' %}",
            minLength: 3,
            focus: function (event, ui) {
                $("#users-search-bar").val(ui.item.username);
                return false;
            },
            select: function (event, ui) {
                $("#users-search-bar").val(ui.item.username);
                $("#chosen-user-block").val(ui.item.email);

                if (selectedItems.indexOf(ui.item.email) === -1) {
                    var newChosenUser = $("<div class='chosen-user'>").appendTo($(".users-search"));

                    var newUserInfo = $("<div class='chosen-user-info'>");
                    newUserInfo.append("<p class='chosen-user-name'>" + ui.item.username + "</p>");
                    newUserInfo.append("<p class='chosen-user-email'>" + ui.item.email + "</p>");

                    newChosenUser.append(newUserInfo);
                    newChosenUser.append("<i class='bx bx-minus-circle icon delete-item'></i>");

                    selectedItems.push(ui.item.email);
                }
                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
          return $( "<li>" )
            .append( "<div class='autosearch-name'>" + item.username + "</div>"
                + "<div class='autosearch-email'>" + item.email + "</div>" )
            .appendTo( ul );
        };

        //delete user
        $(".users-search").on("click", ".delete-item", function() {
            const itemValue = $(this).prev(".chosen-user-info").find(".chosen-user-email").text();
            const index = selectedItems.indexOf(itemValue);
            if (index !== -1) {
                selectedItems.splice(index, 1);
            }
            $(this).parent(".chosen-user").remove();
        });
    });
</script>
{% endblock %}