{% extends 'ocean_do/pages_base.html' %}
{% load static %}
{% block title %}
{{ task.title }}
{% endblock %}


{% block side-menu %}
{% include 'tasks/partials/task-side-menu.html' %}
{% endblock %}

{% block content_area %}

<main id="task-info" data-task-id="{{ task.id }}" data-task-deadline="{{ task.deadline }}"
      ws-connect="/ws/comments/{{ task_chat.name }}/">
    <div class="task-path">
        {% for assignment in task.assignees.all %}
        {% if assignment.user == request.user %}
        {% for folder in assignment.folders.all %}
        <p class="title folder">{{ folder.name }}</p>
        <p class="title divider">/</p>
        {% endfor %}
        {% endif %}
        {% endfor %}

        {% if task.creator == request.user %}
        {% for folder in task.folders.all %}
        <h1 class="title folder">{{ folder.name }}</h1>
        <h1 class="title divider">/</h1>
        {% empty %}
        {% endfor %}
        {% endif %}
        <h1 class="title task-name">{{ task.title }}</h1>
    </div>

    <div class="task-divider">
        <div class="task-info-page-container">
            <div class="task-info-container">
                <div class="head">
                    <div class="category-block">
                        <p class="title">Категорія:</p>
                        <p class="block-value">Виконання</p>
                    </div>
                    <!--                    <i class='bx bx-dots-horizontal-rounded icon'></i>-->

                    <div class="task-settings">
                        <i class='bx bx-dots-horizontal-rounded icon'></i>
                        <ul class="task-settings-box">
                            {% if task.creator == request.user %}
                            <a href="{% url 'tasks:edit_task' task.id %}" class="edit-task-btn">
                                <li>Змінити</li>
                            </a>
                            <a href="#" class="delete-link" data-id="{{ task.id }}">
                                <li>Видалити</li>
                            </a>
                            {% else %}
                            <a href="{% url 'tasks:assign_edit_task' task.id %}" class="edit-task-btn">
                                <li>Змінити теги і папки</li>
                            </a>
                            <a href="{% url 'tasks:derivative_task' task.id %}" class="edit-task-btn">
                                <li>Створити похідне завдання</li>
                            </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="info-block user-status-block">
                    <p class="title">Статус виконання:</p>
                    {% for assignment in task.assignees.all %}
                    {% if assignment.user == request.user %}
                    <p class="user-task-status">
                        {% if assignment.is_completed %}
                        Виконано
                        {% else %}
                        У процесі виконання
                        {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}


                </div>
                {% for assignment in task.assignees.all %}
                {% if assignment.user == request.user %}
                {% if assignment.tags.all %}
                <div class="info-block">
                    <p class="title">Теги:</p>
                    <div class="tags-values">

                        {% for tag in assignment.tags.all %}
                        <p class="tag">{{ tag.name }}</p>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if task.creator == request.user and task.tags.all%}
                <div class="info-block">
                    <p class="title">Теги:</p>
                    <div class="tags-values">
                        {% if task.creator == request.user %}
                        {% for tag in task.tags.all %}
                        <p class="tag">{{ tag.name }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {% endif %}
                {% if task.description %}
                <div class="info-block vertical-block">
                    <p class="title">Опис:</p>
                    <p class="description">{{ task.description }}</p>
                </div>
                {% endif %}
                {% if task.files.all %}
                <div class="info-block vertical-block">
                    <p class="title">Файли:</p>
                    <ul class="file-list">
                        {% for file in task.files.all %}
                        <div class="file-div">
                            <li class="file-li">{{ file.title }}</li>
                            <a href="{{ file.file.url }}"
                               onclick="window.open(this.href, '_blank'); return false;">Завантажити</a>
                            </li>
                        </div>
                        {% endfor %}

                    </ul>

                </div>
                {% endif %}
                <div class="info-block time-block">
                    <p class="title">Термін виконання</p>
                    <p class="time-value">{{ task.deadline }}</p>
                </div>
            </div>
            <div class="task-info-comment-section">
                <div class="leave-comment">
                    <p class="title">Залишити коментар</p>
                    <form id="chat_message_form" hx-ext="ws" ws-send
                          _="on htmx:wsAfterSend reset() me">
                        {% csrf_token %}
                        {{ form.message }}
                        <div class="button-wrapper">
                            <button type="submit" class="make-comment">Надіслати</button>
                        </div>
                    </form>
                </div>

                <div class="comment-section" hx-get="/tasks/comments/{{ task_chat.name }}/" hx-target="#comments">
                    <p class="title">Приватні коментарі:</p>
                    <div id="comments">
                        <ul id='chat_messages'>
                            {% for comment in comments reversed %}
                            <div class="comment">
                                {% if comment.user.photo %}
                                <img class="profile-picture" src="{{ comment.user.photo.url }}" alt="Avatar">
                                {% else %}
                                <img class="profile-picture" src="{% static 'img/profile-picture.jpg' %}"
                                     alt="No image">
                                {% endif %}
                                <div class="comment-text-block">
                                    <div class="head">
                                        <p class="user-name">{{ comment.user.username }}</p>
                                        <p class="sent-date">{{ comment.created|date:"d.m.Y H:i" }}</p>
                                    </div>
                                    <p class="comment-text">{{ comment.message }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <div class="task-completion-wrapper">
            <div class="task-done-container">
                <form action="" method="post" enctype="multipart/form-data" class="task-done-form">
                    {% csrf_token %}
                    <div class="form-element">
                        <div class="tag-block">
                            <p class="title">Прикріпити файл</p>
                            <div class="add" id="add-file-input">
                                <i class='bx bx-plus-circle icon'></i>
                            </div>
                        </div>
                        <div id="file-inputs">
                        </div>
                    </div>
                    <button class="complete-task" id="send-task-files">Відправити</button>
                </form>
            </div>

            <div class="task-done-container additional-container">
                {% for assignment in task.assignees.all %}
                {% if assignment.user == request.user %}
                <button class="complete-task{% if assignment.is_completed %} completed{% endif %}"
                        id="update-status-btn">
                    {% if assignment.is_completed %}
                    Позначити як невиконане
                    {% else %}
                    Позначити як виконане
                    {% endif %}
                </button>
                {% endif %}
                {% endfor %}
            </div>

            {% if task_assignment.files.all %}
            <div class="task-done-container additional-container files-container">
                {% for file in task_assignment.files.all %}
                <div class="file-div">
                    <li class="file-li">{{ file.title }}</li>
                    <div class="user-file-btns">
                        <a href="{{ file.file.url }}"
                           onclick="window.open(this.href, '_blank'); return false;">Завантажити</a>
                        <button class="delete-file-btn" data-file-id="{{ file.id }}">Видалити</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</main>
<!-- MAIN -->


<script>
    // task deadline
    const taskUserDeadline = "{{ task.deadline }}";
    console.log(taskUserDeadline);
    console.log("{{ task.deadline }}");

    const allTaskItems = document.querySelectorAll('.task-settings');
    console.log(allTaskItems);
    allTaskItems.forEach(item => {
        const menuIcon = item.querySelector('.icon');
        const menuOption = item.querySelector('.task-settings-box');

        menuIcon.addEventListener('click', function () {
            menuOption.classList.toggle('show');
        })
    })

    // task settings
    window.addEventListener('click', function (e) {
        allTaskItems.forEach(item => {
            const menuIcon = item.querySelector('.icon'),
                menuOption = item.querySelector('.task-settings-box');

            if (e.target !== menuIcon) {
                if (e.target !== menuOption) {
                    if (menuOption.classList.contains('show')) {
                        menuOption.classList.remove('show');
                    }
                }
            }
        })
    });

    // task comments
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/comments/{{ task_chat.name }}/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        addCommentToPage(data.html);
    };


    function addCommentToPage(html) {
        var commentsList = document.getElementById('chat_messages');
        var newComment = document.createElement('div');
        newComment.innerHTML = html;
        commentsList.appendChild(newComment);
    }

</script>
{% endblock %}
