{% extends 'ocean_do/pages_base.html' %}
{% load static %}
{% block title %}
Завдання
{% endblock %}


{% block side-menu %}
<li><a href="{% url 'main' %}"><i class='bx bx-home-alt icon'></i> Головна</a></li>
<li><a href="#"><i class='bx bx-calendar icon'></i> Календар</a></li>
<li><a href="{% url 'tasks:all_tasks' %}" class="active"><i class='bx bx-task icon'></i> Завдання</a></li>
{% endblock %}

{% block content_area %}

<!-- POPUP -->
<!--<span class="overlay"></span>-->
<!--<div class="task-popup">-->
<!--    <i class='bx bx-x-circle close-icon'></i>-->
<!--    <form method="post" class="form">-->
<!--        &lt;!&ndash;        <div>&ndash;&gt;-->

<!--        {% csrf_token %}-->
<!--        <h2>Нове завдання</h2>-->

<!--        &lt;!&ndash;                <form method="post">&ndash;&gt;-->
<!--        &lt;!&ndash;                    {% csrf_token %}&ndash;&gt;-->
<!--        &lt;!&ndash;                    {{ form.as_p }}&ndash;&gt;-->
<!--        &lt;!&ndash;                    <button type="submit">Create</button>&ndash;&gt;-->
<!--        &lt;!&ndash;                </form>&ndash;&gt;-->


<!--            <div class="form-element">-->
<!--                <div class="important-area">-->
<!--                    <p class="title">Назва </p>-->
<!--                    <p class="star">*</p>-->
<!--                </div>-->
<!--                {{ form.title }}-->
<!--                {% if form.title.errors %}-->
<!--                <span>{{ form.title.errors }}</span>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <div class="form-element">-->
<!--                <p class="title">Опис</p>-->
<!--                &lt;!&ndash;                    <textarea name="" id="" placeholder="Введіть опис"></textarea>&ndash;&gt;-->
<!--                {{ form.description }}-->
<!--            </div>-->
<!--            <div class="form-element">-->
<!--                <div class="existing-folder">-->
<!--                    <p class="title">Папка</p>-->
<!--                    <input type="text" placeholder="Введіть назву папки">-->
<!--                    <i class='bx bx-plus-circle icon'></i>-->
<!--                </div>-->
<!--                <div class="new-folder">-->
<!--                    <div class="add">-->
<!--                        <i class='bx bx-folder folder-icon'></i>-->
<!--                    </div>-->
<!--                    <input type="text" placeholder="Введіть назву нової папки">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-element">-->
<!--                <div class="tag-block">-->
<!--                    <p class="title">Теги</p>-->
<!--                    <div class="add" id="add-tag-input">-->
<!--                        <i class='bx bx-plus-circle icon'></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;                    {{ form.tags }}&ndash;&gt;-->
<!--                &lt;!&ndash;                    <input type="text" placeholder="Введіть Тег 1">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <input type="text" placeholder="Введіть Тег 2">&ndash;&gt;-->

<!--                &lt;!&ndash;                <input type="text" name="tag_1" placeholder="Введіть Тег">&ndash;&gt;-->
<!--                &lt;!&ndash;                <input type="text" name="tag_2" placeholder="Введіть Тег">&ndash;&gt;-->
<!--                <div id="tag-inputs">-->
<!--                    &lt;!&ndash; Поле для першого тегу &ndash;&gt;-->
<!--                    <input type="text" name="tags" placeholder="Введіть Тег 1">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-element">-->
<!--                <div class="important-area">-->
<!--                    <p class="title">Термін виконання </p>-->
<!--                    <p class="star">*</p>-->
<!--                </div>-->
<!--                &lt;!&ndash;                    <input type="date" placeholder="Введіть термін виконання">&ndash;&gt;-->
<!--                {{ form.deadline }}-->
<!--                {% if form.deadline.errors %}-->
<!--                <span>{{ form.deadline.errors }}</span>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <div class="form-element">-->
<!--                <div class="users-add-block">-->
<!--                    <div class="important-area">-->
<!--                        <p class="title">Виконавці</p>-->
<!--                        <p class="star">*</p>-->
<!--                    </div>-->
<!--                    <div class="add">-->
<!--                        <i class='bx bx-plus-circle icon'></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;                    <input type="text" placeholder="Введіть виконавця">&ndash;&gt;-->
<!--                {{ form.assignees }}-->
<!--                {% if form.assignees.errors %}-->
<!--                <span>{{ form.assignees.errors }}</span>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            &lt;!&ndash;                <button class="make-task">Створити</button>&ndash;&gt;-->
<!--            <button type="submit" class="make-task">Створити</button>-->


<!--            &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        </form>-->
<!--    </div>-->
    <!-- POPUP -->
    <!-- MAIN -->
    <main>
        <div class="task-title">
            <button class="title active">Виконання</button>
            <button class="title">Моніторинг</button>
        </div>

        <div class="task-panel">
            <div class="sorting">Сортування</div>
            <div class="filter">Фільтри</div>
            <form action="#">
                <div class="form-group">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Пошук...">
                </div>
            </form>
            <a href="{% url 'tasks:create_task' %}" class="plus-task">
                <i class='bx bx-plus-circle icon create-task-btn'></i>
            </a>
        </div>

        <div class="important-tasks active">
            {% for task in assigned_tasks  %}
            <div class="task" data-task-id="{{ task.id }}">
                <div class="head">
                    <div onclick='location.href="/tasks/task-info";'>
                        <div class="status">
                                <p class="category">Виконання</p>
                            <i class='bx bxs-circle icon task-status'></i>
                        </div>
                        <div class="folder">
                            <i class='bx bx-folder icon'></i>
                            <p class="folder-name">{{ task.folder }}</p>
                        </div>
                    </div>
                    <div class="task-settings">
                        <i class='bx bx-dots-horizontal-rounded icon'></i>
                        <ul class="task-settings-box">
                            {% if task.creator == request.user %}
                            <a href="#" class="edit-task-btn">
                                <li>Змінити</li>
                            </a>
                            <a href="#" class="delete-link" data-id="{{ task.id }}">
                                <li>Видалити</li>
                            </a>
                            {% endif %}
                            <a href="#" class="task-status-btn">
                                <li class="task-status-change">Позначити, як виконане</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="task-body" onclick='location.href="/tasks/task-info";'>
                    <h2 class="name">{{ task.title }}</h2>
                    <div class="tag-box">
                        {% for tag in task.tags.all %}
                        <p>{{ tag.name }}</p>
                        {% endfor %}
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">{{ task.deadline }}</p>
                    </div>
                    <ul>
                        {% for file in task.files.all %}
                        <li>{{ file.title }} - <a href="{{ file.file.url }}">Завантажити</a></li>
                        {% endfor %}
                    </ul>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">{{ task.assignees.count }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="important-tasks">
               {% for task in created_tasks  %}
            <div class="task" data-task-id="{{ task.id }}">
                <div class="head">
                    <div onclick='location.href="/tasks/task-info";'>
                        <div class="status">
                                <p class="category">Моніторинг</p>
                            <i class='bx bxs-circle icon task-status'></i>
                        </div>
                        <div class="folder">
                            <i class='bx bx-folder icon'></i>
                            <p class="folder-name">{{ task.folder }}</p>
                        </div>
                    </div>
                    <div class="task-settings">
                        <i class='bx bx-dots-horizontal-rounded icon'></i>
                        <ul class="task-settings-box">
                            <a href="#" class="edit-task-btn">
                                <li>Змінити</li>
                            </a>
                            <a href="#" class="delete-link" data-id="{{ task.id }}">
                                <li>Видалити</li>
                            </a>
                            <a href="#" class="task-status-btn">
                                <li class="task-status-change">Позначити, як виконане</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="task-body" onclick='location.href="/tasks/task-info";'>
                    <h2 class="name">{{ task.title }}</h2>
                    <div class="tag-box">
                        {% for tag in task.tags.all %}
                        <p>{{ tag.name }}</p>
                        {% endfor %}
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">{{ task.deadline }}</p>
                    </div>
                    <ul>
                        {% for file in task.files.all %}
                        <li>{{ file.title }} - <a href="{{ file.file.url }}" onclick="window.open(this.href, '_blank'); return false;">Перегляд</a></li>
                        {% endfor %}
                    </ul>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">{{ task.assignees.count }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
<!-- MAIN -->
{% endblock %}