{% extends 'ocean_do/base.html' %}
{% load static %}
{% block title %}
Завдання
{% endblock %}
{% block content %}

<body class="home-body">

<!-- SIDEBAR -->
<section id="sidebar">
    <div class="brand">
        <a href="#" class="brand logo-brand"><img class="icon main-logo" src="{% static 'img/logo/logo-removebg.png' %}"
                                                  alt="!">OceanDo</a>

    </div>

    <ul class="side-menu">
        <div class="upper-menu">
            <li><a href="{% url 'main' %}"><i class='bx bx-home-alt icon'></i> Головна</a></li>
            <li><a href="#"><i class='bx bx-calendar icon'></i> Календар</a></li>
            <li><a href="{% url 'tasks:all_tasks' %}" class="active"><i class='bx bx-task icon'></i> Завдання</a></li>
        </div>
        <div class="lower-menu">
            <li><a href="#"><i class='bx bx-exit icon'></i> Вийти</a></li>
        </div>
<!--            <li><a href="{% url 'tasks:all_tasks' %}"><i class='bx bx-task icon'></i> Завдання</a></li>-->
        </ul>
    <!-- <div class="ads"></div> -->
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section class="tasks-class" id="content">

    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu toggle-sidebar'></i>
        <form action="#">
            <div class="form-group">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Пошук...">
            </div>
        </form>
        <a href="#" class="nav-link">
            <i class='bx bx-bell icon'></i>
            <span class="badge">5</span>
        </a>
        <div class="profile">
            <a href="{% url 'users:profile' %}" class="link-to-profile"><img class="logo-img"
                                                     src="{% static 'img/christin-hume-Hcfwew744z4-unsplash.jpg' %}"
                                                     alt="!">
            </a></div>
    </nav>
    <!-- NAVBAR -->


    <!-- POPUP -->
    <span class="overlay"></span>
    <div class="task-popup">
        <i class='bx bx-x-circle close-icon'></i>
        <form method="post" class="form">
            <!--        <div>-->

            {% csrf_token %}
            <h2>Нове завдання</h2>

            <!--                <form method="post">-->
            <!--                    {% csrf_token %}-->
            <!--                    {{ form.as_p }}-->
            <!--                    <button type="submit">Create</button>-->
            <!--                </form>-->


            <div class="form-element">
                <div class="important-area">
                    <p class="title">Назва </p>
                    <p class="star">*</p>
                </div>
                {{ form.title }}
                {% if form.title.errors %}
                <span>{{ form.title.errors }}</span>
                {% endif %}
            </div>
            <div class="form-element">
                <p class="title">Опис</p>
                <!--                    <textarea name="" id="" placeholder="Введіть опис"></textarea>-->
                {{ form.description }}
            </div>
            <div class="form-element">
                <div class="existing-folder">
                    <p class="title">Папка</p>
                    <input type="text" placeholder="Введіть назву папки">
                    <i class='bx bx-plus-circle icon'></i>
                </div>
                <div class="new-folder">
                    <div class="add">
                        <i class='bx bx-folder folder-icon'></i>
                    </div>
                    <input type="text" placeholder="Введіть назву нової папки">
                </div>
            </div>
            <div class="form-element">
                <div class="tag-block">
                    <p class="title">Теги</p>
                    <div class="add" id="add-tag-input">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>
                </div>
                <!--                    {{ form.tags }}-->
                <!--                    <input type="text" placeholder="Введіть Тег 1">-->
                <!--                    <input type="text" placeholder="Введіть Тег 2">-->

                <!--                <input type="text" name="tag_1" placeholder="Введіть Тег">-->
                <!--                <input type="text" name="tag_2" placeholder="Введіть Тег">-->
                <div id="tag-inputs">
                    <!-- Поле для першого тегу -->
                    <input type="text" name="tags" placeholder="Введіть Тег 1">
                </div>
            </div>
            <div class="form-element">
                <div class="important-area">
                    <p class="title">Термін виконання </p>
                    <p class="star">*</p>
                </div>
                <!--                    <input type="date" placeholder="Введіть термін виконання">-->
                {{ form.deadline }}
                {% if form.deadline.errors %}
                <span>{{ form.deadline.errors }}</span>
                {% endif %}
            </div>
            <div class="form-element">
                <div class="users-add-block">
                    <div class="important-area">
                        <p class="title">Виконавці</p>
                        <p class="star">*</p>
                    </div>
                    <div class="add">
                        <i class='bx bx-plus-circle icon'></i>
                    </div>
                </div>
                <!--                    <input type="text" placeholder="Введіть виконавця">-->
                {{ form.assignees }}
                {% if form.assignees.errors %}
                <span>{{ form.assignees.errors }}</span>
                {% endif %}
            </div>
            <!--                <button class="make-task">Створити</button>-->
            <button type="submit" class="make-task">Створити</button>


            <!--        </div>-->
        </form>
    </div>
    <!-- POPUP -->
    <!-- MAIN -->
    <main>
        <div class="task-title">
            <button class="title active">Виконання</button>
            <button class="title">Моніторинг</button>
        </div>

        <div class="task-panel">
            <div class="sorting">Сортування</div>
            <div class="filter">Фільтри</div>
            <form action="#">
                <div class="form-group">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Пошук...">
                </div>
            </form>
            <div class="plus-task">
                <i class='bx bx-plus-circle icon create-task-btn'></i>
            </div>
        </div>

        <div class="important-tasks active">
            <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Виконання</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#" class="edit-task-btn">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
            <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Виконання</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#" class="edit-task-btn">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
            <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Виконання</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#" class="edit-task-btn">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
            <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Виконання</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#" class="edit-task-btn">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
        </div>

        <div class="important-tasks">
                <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Моніторинг</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
                <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Моніторинг</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
                <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Моніторинг</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
                <div class="task">
                    <div class="head">
                        <div>
                            <div class="status">
                                <p class="category">Моніторинг</p>
                                <i class='bx bxs-circle icon task-status'></i>
                            </div>
                            <div class="folder">
                                <i class='bx bx-folder icon'></i>
                                <p class="folder-name">А</p>
                            </div>
                        </div>
                        <div class="task-settings">
                            <i class='bx bx-dots-horizontal-rounded icon'></i>
                            <ul class="task-settings-box">
                                <a href="#">
                                    <li>Змінити</li>
                                </a>
                                <a href="#">
                                    <li>Видалити</li>
                                </a>
                                <a href="#" class="task-status-btn">
                                    <li class="task-status-change">Позначити, як виконане</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <h2 class="name">Назва завдання</h2>
                    <div class="tag-box">
                        <p class="a">Тег А</p>
                        <p class="b">Тег Б</p>
                    </div>
                    <div class="limit-block">
                        <p class="limit-block-title">Термін виконання:</p>
                        <p class="time-limit">12.02.2024</p>
                    </div>
                    <div class="participants">
                        <i class='bx bxs-user icon'></i>
                        <p class="user-number">4</p>
                    </div>
                </div>
            </div>
    </main>

    <!-- MAIN -->
</section>
<!-- CONTENT -->
</body>
{% endblock content %}