<div class="task-title">
    <button class="title active">Виконання</button>
    <button class="title">Моніторинг</button>
</div>

<div class="task-panel">
    <div class="sorting">Сортування</div>
    <div class="filter">Фільтри</div>
    <form action="#">
        <div class="form-group">
            <i class='bx bx-search icon'></i>
            <input type="text" placeholder="Пошук...">
        </div>
    </form>
    <a href="{% url 'tasks:create_task' %}" class="plus-task">
        <i class='bx bx-plus-circle icon create-task-btn'></i>
    </a>
</div>

<div class="important-tasks active">
    {% for task in solo_assignee_tasks %}
    <div class="task" data-task-id="{{ task.id }}">
        <div class="head">
            <div onclick='location.href="/tasks/task-info/{{ task.id }}";'>
                <div class="status">
                    <p class="category">Виконання</p>
                    <a href="#" class="task-status-btn">
                        {% if task.is_completed %}
                        <i class='bx bxs-check-circle icon task-status done'></i>
                        {% else %}
                        <i class='bx bxs-circle icon task-status'></i>
                        {% endif %}
                    </a>
                </div>
                <div class="folder">
                    <i class='bx bx-folder icon'></i>

                    {% for folder in task.folders.all %}
                        <p class="folder-name">{{ folder.name }} |</p>
                    {% empty %}
                    {% endfor %}

                </div>
            </div>
            <div class="task-settings">
                <i class='bx bx-dots-horizontal-rounded icon'></i>
                <ul class="task-settings-box">
                    <a href="{% url 'tasks:edit_task' task.id %}" class="edit-task-btn">
                        <li>Змінити</li>
                    </a>
                    <a href="#" class="delete-link" data-id="{{ task.id }}">
                        <li>Видалити</li>
                    </a>
                </ul>
            </div>
        </div>
        <div onclick='location.href="/tasks/task-info/{{ task.id }}";'>
            <h2 class="name">{{ task.title }}</h2>
            <div class="tag-box">
                {% for tag in task.tags.all %}
                <p>{{ tag.name }}</p>
                {% endfor %}
            </div>
            <div class="limit-block">
                <p class="limit-block-title">Термін виконання:</p>
                <p class="time-limit">{{ task.deadline }}</p>
            </div>
            <div class="participants">
                <i class='bx bxs-user icon'></i>
                <p class="user-number">{{ task.assignees.count }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for task in assigned_tasks %}
    <div class="task" data-task-id="{{ task.id }}">
        <div class="head">
            <div onclick='location.href="/tasks/task-info/{{ task.id }}";'>
                <div class="status">
                    <p class="category">Виконання</p>
                    {% for assignment in task.assignees.all %}
                    {% if assignment.user == request.user %}

                    <a href="#" class="task-status-btn">
                        {% if assignment.is_completed %}
                        <i class='bx bxs-check-circle icon task-status done'></i>
                        {% else %}
                        <i class='bx bxs-circle icon task-status'></i>
                        {% endif %}
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="folder">
                    <i class='bx bx-folder icon'></i>
                    {% for assignment in task.assignees.all %}
                    {% if assignment.user == request.user %}
                    {% for folder in assignment.folders.all %}
                        <p class="folder-name">{{ folder.name }} |</p>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="task-settings">
                <i class='bx bx-dots-horizontal-rounded icon'></i>
                <ul class="task-settings-box">
                    <a href="{% url 'tasks:assign_edit_task' task.id %}" class="edit-task-btn">
                        <li>Змінити теги і папки</li>
                    </a>
                </ul>
            </div>
        </div>
        <div onclick='location.href="/tasks/task-info/{{ task.id }}";'>
            <h2 class="name">{{ task.title }}</h2>
            <div class="tag-box">
                    {% for assignment in task.assignees.all %}
                    {% if assignment.user == request.user %}
                    {% for tag in assignment.tags.all %}
                    <p >{{ tag.name }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
            </div>
            <div class="limit-block">
                <p class="limit-block-title">Термін виконання:</p>
                <p class="time-limit">{{ task.deadline }}</p>
            </div>
            <div class="participants">
                <i class='bx bxs-user icon'></i>
                <p class="user-number">{{ task.assignees.count }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="important-tasks">
    {% for task in created_tasks %}
    <div class="task" data-task-id="{{ task.id }}">
        <div class="head">
            <div onclick='location.href="/tasks/task-info-creator/{{ task.id }}";'>
                <div class="status">
                    <p class="category">Моніторинг</p>
                    <a href="#" class="task-status-btn">
                        {% if task.is_completed %}
                        <i class='bx bxs-check-circle icon task-status done'></i>
                        {% else %}
                        <i class='bx bxs-circle icon task-status'></i>
                        {% endif %}
                    </a>

                </div>
                <div class="folder">
                    <i class='bx bx-folder icon'></i>
                    {% for folder in task.folders.all %}
                        <p class="folder-name">{{ folder.name }} |</p>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
            <div class="task-settings">
                <i class='bx bx-dots-horizontal-rounded icon'></i>
                <ul class="task-settings-box">
                    <a href="{% url 'tasks:edit_task' task.id %}" class="edit-task-btn">
                        <li>Змінити</li>
                    </a>
                    <a href="#" class="delete-link" data-id="{{ task.id }}">
                        <li>Видалити</li>
                    </a>
                </ul>
            </div>
        </div>
        <div onclick='location.href="/tasks/task-info-creator/{{ task.id }}";'>
            <h2 class="name">{{ task.title }}</h2>
            <div class="tag-box">
                {% for tag in task.tags.all %}
                <p>{{ tag.name }}</p>
                {% endfor %}
            </div>
            <div class="limit-block">
                <p class="limit-block-title">Термін виконання:</p>
                <p class="time-limit">{{ task.deadline }}</p>
            </div>
            <div class="participants">
                <i class='bx bxs-user icon'></i>
                <p class="user-number">{{ task.assignees.count }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
