{% extends 'ocean_do/base.html' %}
{% load static %}
{% block title %}
{% if page_title %}
{{ page_title }}
{% else %}
OceanDo
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<body>
<!-- SIDEBAR -->
<section id="sidebar">
    <div class="brand">
        <a href="{% url 'main' %}" class="brand logo-brand"><img class="icon main-logo"
                                                                 src="{% static 'img/logo/logo-removebg.png' %}"
                                                                 alt="!">OceanDo</a>
    </div>


    <ul class="side-menu">
        <div class="upper-menu">
            {% block side-menu %}
            {% endblock %}
        </div>
        <div class="lower-menu">
            <li><a href="{% url 'accounts:logout' %}"><i class='bx bx-exit icon'></i> Вийти</a></li>
        </div>
        <!--            <li><a href="{% url 'tasks:all_tasks' %}"><i class='bx bx-task icon'></i> Завдання</a></li>-->
    </ul>
    <!-- <div class="ads"></div> -->
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content" class="tasks-class">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu toggle-sidebar'></i>
        <form action="#">
            <div class="form-group">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Пошук...">
            </div>
        </form>


        <div>
            <a href="#" class="nav-link">
                <i class='bx bx-bell icon'></i>
                <span id="notification-number" class="badge"></span>
            </a>
            <ul class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0"
                aria-labelledby="dropdownMenuButton1" id="notification-dropdown">
                <!-- Notifications go here -->
                <hr class="h-0 my-2 border border-solid border-t-0 border-gray-700 opacity-25"/>
                <li>
                    <a href="#" id="clear-btn"
                       class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100">Clear
                        All</a>
                </li>
            </ul>
        </div>


        <div class="profile">
            <a href="{% url 'users:profile' %}" class="link-to-profile">
                {% if user.photo %}
                <img id="logo-img" class="profile-picture" src="{{ user.photo.url }}" alt="Avatar">
                {% else %}
                <img class="logo-img" src="{% static 'img/profile-picture.jpg' %}" alt="No image">
                {% endif %}
            </a>
        </div>
    </nav>
    <!-- NAVBAR -->
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% block content_area %}
    {% endblock %}
    <!-- MAIN -->
    <!-- CONTENT -->


    <div>
            <a href="#" class="nav-link">
                <i class='bx bx-bell icon'></i>
                <span id="notification-number" class="badge"></span>
            </a>
            <ul class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0"
                aria-labelledby="dropdownMenuButton1" id="notification-dropdown">
                <!-- Notifications go here -->
                <hr class="h-0 my-2 border border-solid border-t-0 border-gray-700 opacity-25"/>
                <li>
                    <a href="#" id="clear-btn"
                       class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100">Clear
                        All</a>
                </li>
            </ul>
        </div>

</section>
</body>

{% else %}
<!-- Цей блок буде видимим тільки для неавторизованих користувачів -->
<h1>Ви не авторизовані</h1>
<p>Будь ласка, <a href="{% url 'accounts:login' %}">увійдіть</a> або <a href="{% url 'accounts:register' %}">зареєструйтесь</a>.
</p>
{% endif %}
{% endblock %}
