{% extends 'ocean_do/pages_base.html' %}
{% load static %}
{% block title %}
Профіль
{% endblock %}


{% block side-menu %}
<li><a href="{% url 'main' %}"><i class='bx bx-home-alt icon'></i> Головна</a></li>
<li><a href="#"><i class='bx bx-calendar icon'></i> Календар</a></li>
<li><a href="{% url 'tasks:all_tasks' %}"><i class='bx bx-task icon'></i> Завдання</a></li>
{% endblock %}

{% block content_area %}


<!-- MAIN -->
<main>
    <div class="profile-container">
        <img class="profile-picture" src="{% static 'img/christin-hume-Hcfwew744z4-unsplash.jpg' %}" alt="!">
        <h1 class="title profile-name">{{ request.user.username }}</h1>
        <h2 class="sub-text">{{ request.user.email }}</h2>
        <div class="profile-menu">
            <a class="profile-menu-item" href="{% url 'users:edit-profile' %}" class="menu-item-link">
                <i class='bx bx-edit icon'></i>
                <p class="menu-text">Редагувати профіль</p>
            </a>
            <a class="profile-menu-item" href="" class="menu-item-link">
                <i class='bx bx-check-square icon'></i>
                <p class="menu-text">Виконані завдання</p>
            </a>
            <a class="profile-menu-item" href="" class="menu-item-link">
                <i class='bx bx-moon icon'></i>
                <p class="menu-text">Змінити тему</p>
            </a>
        </div>
    </div>

    </div>
</main>

<!-- MAIN -->
{% endblock %}