/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");

:root {
    --dark-blue: #263D9D;
    --light-blue: #7187E4;
    --yellow: #FDC969;
    --bg-grey: #EBEBEB;
    --light-grey: #E6E6E6;
    --dark-grey: #888888;
    --red: #B5415C;
    --green: #5E967C;
}

body {
    font-family: "Exo 2";
    color: black;   
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__form"] {
    max-width: 1260px;
    max-height: 652px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* ----------------------------------ACCOUNT PAGE---------------------------------- */
.login-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-page::before,
.login-page::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.login-page::before {
    left: 42%;
    background-color: var(--light-blue);
}

.login-page::after {
    left: 48%;
    background-color: var(--dark-blue);
}

.login__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

@media (max-width: 1981px) {
    .login__form {
    }
}

@media (max-width: 991.98px) {

    .login-page::before {
        left: 8%;
    }

    .login-page::after {
        left: 16%;
    }

    .login__content {
        display: flex;
        justify-content: center;
    }

}

/* DATA BLOCK */
.data-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 360px;
    margin-left: 30px;
}

.register-data {
    margin-top: 32px;
    margin-bottom: 32px;
}

.login__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.logo-img {
    height: 100px;
}

.logo-name {
    font-size: 48px;
    color: var(--dark-blue);
}

@media (max-width: 991.98px) {
    .login__logo {
        border-radius: 10px;
    }

    .logo-name {
        color: white;
    }
}

@media (max-width: 575.98px) {

    .login__logo {
        max-height: 80px;
    }

    .logo-name {
        font-size: 30px;
    }
}

.form-login {
    width: 100%;
}

.form-area {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.register-area {
    margin-top: 10px;
}

.data-name {
    padding: 5px 0px;
}

.data-input {
    height: 55px;
    border: 1px solid black;
    border-radius: 10px;
    text-indent: 10px;
}

.other-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #3453D8;
}

@media (max-width: 991.98px) {
    .form-login {
        color: white;
    }

    .other-options {
        color: white;
    }
}

[class*="__link"] {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

[class*="__link"]:hover {
    text-decoration: underline;
}

.account-button {
    background-color: var(--yellow);
    padding: 0px;
    width: 100%;
    height: 55px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;;
}

.account-button:hover {
    text-decoration: underline;
}

.register-button {
    margin-top: 25px;
}


/* INFORMATION BLOCK*/
.info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-right: 30px;
}

@media (max-width: 991.98px) {
    .info-form {
        display: none;
    }
}

.bg-picture {
    background-color: white;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.text-container {
    color: white;
    text-align: center;
}

.invite-text {
    font-size: 32px;
}

.invite-paragraph {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* NEW PASSWORD */
.title-for-account{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
/* NEW PASSWORD */


/* CODE VARIFICATION*/
.code-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.code-form .code-input {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    width: 32px;
}

.code-form .code-input::-webkit-inner-spin-button,
.code-form .code-input::-webkit-outer-spin-button{
    display: none;
}

.code-verify-btn{
    opacity: 0.6;
    pointer-events: none;
}

.code-verify-btn.active{
    opacity: 1;
    pointer-events: auto;
}

/* CODE VARIFICATION*/



/* ----------------------------------HOME PAGE---------------------------------- */

.home-body {
    background: var(--bg-grey);
}

/* SIDE BAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    border: 1px solid #D1D1D1;
    box-shadow: 2px 0 5px -2px #888888;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 200;
    transition: all .3s ease;
}

#sidebar.hide {
    max-width: 82px;
}

#sidebar .brand {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 6px;
    font-size: 24px;
    color: #263D9D;
    transition: all .3s ease;
}

#sidebar .logo-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 13px;
    margin-left: 15px;
}

#sidebar.hide .logo-brand {
    margin-left: 0;
}

#sidebar .brand img {
    height: 50px;
}

#sidebar .icon {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 24px;
}

#sidebar .main-logo {
    margin-right: 12px;
}

#sidebar .side-menu {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    margin: 34px 0;
    padding: 0 13px;
    transition: all .3s ease;
}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar .side-menu li {
    height: 60px;
    margin-bottom: 10px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-family: "Exo 2";
    padding: 15px 20px;
    transition: all .3s ease;
    border-radius: 10px;
    white-space: nowrap;
}

#sidebar .side-menu .upper-menu > li > a:hover,
#sidebar .side-menu .lower-menu>li>a:hover {
    background: var(--light-grey);
}

#sidebar .side-menu .upper-menu > li > a.active,
#sidebar .side-menu .upper-menu > li > a.active:hover{
    color: white;
    background: var(--light-blue);
}
/* SIDE BAR */


/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    z-index: 1;
    transition: all .3s ease;
}

@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 82px);
        z-index: 1;
    }
}

#sidebar.hide + #content {
    width: calc(100% - 82px);
    left: 82px;
    transition: all .3s ease;
}


/* NAVIGATION */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    grid-gap: 30px;
    box-shadow: 2px 0 5px 2px #888888;
}

nav .toggle-sidebar {
    font-size: 30px;
    color: var(--dark-grey);
    cursor: pointer;
}

nav form {
    max-width: 348px;
    width: 100%;
    margin-right: auto;
}

nav .form-group {
    position: relative;
}

nav .form-group input {
    background: var(--light-grey);
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    transition: all .3s ease;
    border: none;
    outline: none;
}

nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--dark-blue), 0 0 0 3px var(--light-blue);
}

nav .form-group .icon {
    color: var(--dark-grey);
    position: absolute;
    font-size: 24px;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

nav .nav-link {
    position: relative;
}

@media screen and (max-width: 768px) {
    nav .nav-link {
        display: none;
    }
}

nav .nav-link .icon {
    color: var(--dark-grey);
    font-size: 30px;
}

nav .nav-link .badge {
    background: var(--red);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: 700;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}


nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

/* NAVIGATION */

/* MAIN */

main {
    width: 100%;
    padding: 38px 20px 20px 20px;
}

main .title {
    font-size: 32px;
    font-weight: 600;
}

main .important-tasks {
    margin-top: 20px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    transition: all .3s ease;
}

main .important-tasks.active{
    display: grid;
}

main .important-tasks .task{
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

main .task .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main .task .head .status{
    display: flex;
}

main .task .head .status .category {
    color: white;
    background: var(--dark-blue);
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
}

main .task .head .status .task-status{
    color: white;
    font-size: 24px;
    background: var(--yellow);
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
    transition: all .3s ease;
}

main .task .head .status .task-status.done{
    background: var(--green);
}

main .task .head .folder {
    display: flex;
    align-items: center;
    color: var(--dark-grey);
    margin-top: 10px;
}

main .task .head .folder .icon {
    font-size: 21px;
}

main .task .head .folder .folder-name {
    margin-left: 5px;
}

main .task .head .task-settings{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .task .head .task-settings .icon {
    font-size: 24px;
    cursor: pointer;
}

main .task .head .task-settings .task-settings-box{
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 140px;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

main .task .head .task-settings .task-settings-box.show{
    top: 100%;
    opacity: 1;
    pointer-events: visible;
}

main .task .head .task-settings .task-settings-box a{
    display: block;
    padding: 6px 16px;
    transition: all .3s ease;
}

main .task .head .task-settings .task-settings-box a:hover{
    background: var(--light-grey);
}

main .task .name {
    font-size: 20px;
    margin-top: 17px;
}

main .task .tag-box {
    display: flex;
    margin-top: 15px;
    gap: 10px
}

main .task .tag-box p {
    font-size: 14px;
    padding: 5px;
    color: white;
    background: var(--light-blue);
    border-radius: 3px;
}

main .task .limit-block{
    margin-top: 17px;
}

main .task .limit-block .limit-block-title {
    font-size: 14px;
    color: var(--dark-grey);
}

main .task .limit-block .time-limit{
    margin-top: 7px;
}

main .task .participants{
    display: flex;
    align-items: center;
    margin-top: 12px;
    color: var(--dark-grey);
}

main .task .participants .icon {
    font-size: 24px;
}

main .task .participants .user-number{
    margin-left: 3px;
}


/* MAIN */

/* CONTENT */



/* ----------------------------------TASKS PAGE---------------------------------- */


/* TABS */
main .task-title {
    display: flex;
    justify-content: space-between;
}

main .task-title .title {
    max-width: 49%;
    width: 100%;
    transition: all .3s ease;
    border-radius: 10px;
    padding: 8px;
}

@media screen and (max-width: 768px) {
    main .task-title .title {
        font-size: 22px;
    }
}

main .task-title .title:hover {
    background: #D1D1D1;
}

main .task-title .title.active,
main .task-title .title.active:hover {
    color: white;
    background: var(--light-blue);
}
/* TABS */


/* TASK PANEL */

main .task-panel {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    main .task-panel {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

main .task-panel .sorting,
main .task-panel .filter {
    max-width: 210px;
    width: 100%;
    background: var(--yellow);
    padding: 10px;
    border-radius: 5px;
}

main .task-panel .filter {
    margin-right: auto;
}

main .task-panel .form-group {
    position: relative;
}

main .task-panel .form-group input {
    background: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    transition: all .3s ease;
    border: none;
    outline: none;
}

main .task-panel .form-group input:focus {
    box-shadow: 0 0 0 1px var(--dark-blue), 0 0 0 3px var(--light-blue);
}

main .task-panel .form-group .icon {
    color: var(--dark-grey);
    position: absolute;
    font-size: 24px;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    main .task-panel .filter{
        margin-right: unset;
    }
}

main .task-panel .plus-task{
    background: var(--yellow);
    border-radius: 5px;
    cursor: pointer;
}

main .task-panel .plus-task .icon {
    font-size: 24px;
    padding: 5px;
}


/* TASK PANEL */
/* POPUP */


.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 64px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: all .3s ease;
}

.tasks-class.active .overlay{
    opacity: 1;
    pointer-events: auto;
}

.task-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 30px;
    margin-right: 20px;
    max-width: 722px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
    top: 120px;
    background: white;
    border-radius: 20px;
    z-index: 150;
    transition: all .3s ease;
    opacity: 0;
    pointer-events: none;
    overflow-y: hidden;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

.tasks-class{

}

.tasks-class.active .task-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) scale(1);
}

#sidebar.hide + .task-popup {
    left: calc(50% + 82px);
}

@media screen and (max-width: 991px) {
    .task-popup {
        max-width: 522px;
    }
}

.task-popup::-webkit-scrollbar {
    display: none;
}

.task-popup .close-icon{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    cursor: pointer;
}

.task-popup .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 348px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.task-popup .form h2 {
    font-size: 32px;
    font-weight: 600;
}

.task-popup .form .form-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-popup .form .form-element .title {
    font-size: 20px;
    font-weight: 600;
}

.task-popup .form .form-element .important-area {
    display: flex;
}

.task-popup .form .form-element .important-area .star {
    margin-left: 5px;
    color: var(--red);
}

.task-popup .form .form-element input,
.task-popup .form .form-element textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.task-popup .form .form-element textarea{
    height: 120px;
}

.task-popup .form .form-element .existing-folder,
.task-popup .form .form-element .tag-block,
.task-popup .form .form-element .users-add-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-popup .form .form-element .existing-folder .icon,
.task-popup .form .form-element .tag-block .icon,
.task-popup .form .form-element .add .icon {
    font-size: 22.5px;
    padding: 3.5px;
    background: var(--yellow);
    border-radius: 5px;
    cursor: pointer;
}

.task-popup .form .form-element .new-folder {
    display: none;
    /* display: flex; */
    align-items: center;
}

.task-popup .form .form-element .new-folder .folder-icon{
    font-size: 25px;
    padding: 7px 10px 7px 0;
}

.task-popup .form .form-element .new-folder input{
    width: 100%;
}

.task-popup .form .make-task{
    background: var(--yellow);
    width: 100%;
    padding: 15px 0px;
    border-radius: 10px;
}

.task-popup .form .make-task:hover{
    text-decoration: underline;
}

/* .task-popup .form .form-element */


/* POPUP */